# Importações

### Importações de bibliotecas

In [1]:
import pandas as pd
import numpy as np

import time

### Importação dos dados

In [2]:
path_data1 = "c:/Users/romer/Desktop/Projetos/Projeto ETL HE/Dados/dadostrabalho1.csv"
dados_salario = pd.read_csv(path_data1,
                            sep = ';',
                            na_values = '-',
                            decimal=',',
                            parse_dates = ['Data'],
                            dayfirst = 'True',
                            encoding = 'utf8')

In [3]:
path_data2 = 'C:/Users/romer/Desktop/Projetos/Projeto ETL HE/Dados/HE 2013 a 2020.csv'
dados_HE = pd.read_csv(path_data2,
                    sep = ';',
                    decimal=(','),
                    parse_dates = ['Data'],
                    dayfirst = 'True')

# Transformações

### Limpeza Dados HE

In [4]:
dados_HE.drop(['HE\nReceber', 'Salario Bruto', 'Justificativa'], axis = 1, inplace = True)

In [5]:
dados_HE.rename(columns = {'Hora In�cio':'Hora_inicio', 
                           'Hora Fim': 'Hora_fim', 
                           'HE\nCompensar':'HE_retorno',
                           'Horas':'qtd_HE'
                          }, 
                inplace=True)

In [6]:
dados_HE['HE_retorno'] = dados_HE['HE_retorno'].replace('X', 'Compensar')
dados_HE['HE_retorno'].fillna('Receber', inplace=True)

In [7]:
dados_HE.head()

        Data Hora_inicio  Hora_fim HE_retorno  qtd_HE
0 2013-11-18    17:00:00  18:30:00    Receber     1.5
1 2013-11-19    06:00:00  07:30:00    Receber     1.5
2 2013-11-19    17:00:00  18:30:00    Receber     1.5
3 2013-11-27    06:30:00  07:30:00    Receber     1.0
4 2013-11-27    17:00:00  18:00:00    Receber     1.0

### Limpeza Dados Salario

In [8]:
dados_salario.drop(['Feriado'],axis=1, inplace=True)

In [9]:
dados_salario.rename(columns = {'Nome do Feriado':'Feriado', 
                           'Regime de trabalho': 'Escala_de_trabalho', 
                           'Salario Bruto': 'Salario_bruto',
                           'Salario Base': 'Salario_base',
                           'ValorHE/Hora':'Valor_Hora'
                          }, 
                inplace=True)

In [10]:
dados_salario.Feriado.fillna('Nao', inplace=True)

In [11]:
dados_salario.head()

,Data,Feriado,Cargo,Escala_de_trabalho,Salario_base,Salario_bruto,Valor_Hora
0,2013-03-06,Nao,Eletricista,Trabalho,1356.8,1763.84,8.82
1,2013-03-07,Nao,Eletricista,Trabalho,1356.8,1763.84,8.82
2,2013-03-08,Nao,Eletricista,Trabalho,1356.8,1763.84,8.82
3,2013-03-09,Nao,Eletricista,Folga,1356.8,1763.84,8.82
4,2013-03-10,Nao,Eletricista,Folga,1356.8,1763.84,8.82

### Transformações dos dados

In [26]:
data_daily = dados_salario.merge(dados_HE, how='left', on='Data')

In [27]:
data_daily.qtd_HE.fillna(0, inplace=True)

#### Criando Nova coluna condicional

In [28]:
#Será usado o numpy para gerar nova coluna devida a velocidade de execução

conditions = [(data_daily['Escala_de_trabalho'] == 'Folga') & (data_daily['qtd_HE'] > 0),
             (data_daily['Escala_de_trabalho'] == 'Trabalho') & (data_daily['qtd_HE'] > 0)]

choices = ['Folga', 'Jornada Estendida']


inicio = time.time()

data_daily['Tipo_HE'] = np.select(conditions, choices, default='NaN')

fim = time.time()
print(fim - inicio)

0.002992868423461914

In [23]:
#Seria uma outra forma para se gerar uma coluna condicional

def tipo_he(df):
    if (df['Escala_de_trabalho'] == 'Folga') & (df['qtd_HE'] > 0) :
        return 'Folga'
    elif (df['Escala_de_trabalho'] == 'Trabalho') & (df['qtd_HE'] > 0) :
        return 'Jornada Estendida'
    else:
        return 'NaN'
    
inicio = time.time()

data_daily['Tipo_HE2'] = data_daily.apply(tipo_he, axis=1)

fim = time.time()
print(fim - inicio)

0.14238405227661133

In [29]:
data_daily.tail(30)

,Data,Feriado,Cargo,Escala_de_trabalho,Salario_base,Salario_bruto,Valor_Hora,Hora_inicio,Hora_fim,HE_retorno,qtd_HE,Tipo_HE
3034,2020-12-06,Nao,COD,Folga,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3035,2020-12-07,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3036,2020-12-08,Nao,COD,Trabalho,4677.18,6314.19,35.08,15:30:00,19:30:00,Receber,4.0,Jornada Estendida
3037,2020-12-09,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3038,2020-12-10,Nao,COD,Trabalho,4677.18,6314.19,35.08,15:30:00,19:30:00,Receber,4.0,Jornada Estendida
3039,2020-12-11,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3040,2020-12-12,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3041,2020-12-13,Nao,COD,Folga,4677.18,6314.19,35.08,07:00:00,12:00:00,Receber,5.0,Folga
3042,2020-12-13,Nao,COD,Folga,4677.18,6314.19,35.08,12:30:00,15:30:00,Receber,3.0,Folga
3043,2020-12-14,Nao,COD,Folga,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3044,2020-12-15,Nao,COD,Folga,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3045,2020-12-16,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3046,2020-12-17,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3047,2020-12-18,Nao,COD,Trabalho,4677.18,6314.19,35.08,05:00:00,07:00:00,Receber,2.0,Jornada Estendida
3048,2020-12-18,Nao,COD,Trabalho,4677.18,6314.19,35.08,15:30:00,17:30:00,Receber,2.0,Jornada Estendida
3049,2020-12-19,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3050,2020-12-20,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3051,2020-12-21,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3052,2020-12-22,Nao,COD,Folga,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3053,2020-12-23,Nao,COD,Folga,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3054,2020-12-24,Nao,COD,Folga,4677.18,6314.19,35.08,07:00:00,12:00:00,Receber,5.0,Folga
3055,2020-12-24,Nao,COD,Folga,4677.18,6314.19,35.08,12:30:00,15:30:00,Receber,3.0,Folga
3056,2020-12-25,Natal,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3057,2020-12-26,Nao,COD,Trabalho,4677.18,6314.19,35.08,06:00:00,07:00:00,Receber,1.0,Jornada Estendida
3058,2020-12-26,Nao,COD,Trabalho,4677.18,6314.19,35.08,15:30:00,17:00:00,Receber,1.5,Jornada Estendida
3059,2020-12-27,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3060,2020-12-28,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3061,2020-12-29,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3062,2020-12-30,Nao,COD,Trabalho,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN
3063,2020-12-31,Nao,COD,Folga,4677.18,6314.19,35.08,NaN,NaN,NaN,0.0,NaN

In [102]:
filtro1=data_daily.qtd_HE>0
filtro2=data_daily.Escala_de_trabalho == 'Folga'

data_daily.Tipo_HE = data_daily.loc[filtro1 & filtro2].Tipo_HE.replace('NaN', 'Folga')

In [104]:
filtro1=data_daily.qtd_HE>0
filtro2=data_daily.Escala_de_trabalho == 'Trabalho'

data_daily.Tipo_HE = data_daily.Tipo_HE.loc[filtro1 & filtro2].replace('NaN','Jornada Estendida')

In [111]:
data_daily.loc[data_daily.Tipo_HE == 'Jornada Estendida']

,Data,Feriado,Cargo,Escala_de_trabalho,Salario_base,Salario_bruto,Valor_Hora,Hora_inicio,Hora_fim,HE_retorno,qtd_HE,Tipo_HE
257,2013-11-18,Nao,Eletricista,Trabalho,1576.94,2050.02,10.25,17:00:00,18:30:00,Receber,1.5,Jornada Estendida
258,2013-11-19,Nao,Eletricista,Trabalho,1576.94,2050.02,10.25,06:00:00,07:30:00,Receber,1.5,Jornada Estendida
259,2013-11-19,Nao,Eletricista,Trabalho,1576.94,2050.02,10.25,17:00:00,18:30:00,Receber,1.5,Jornada Estendida
267,2013-11-27,Nao,Eletricista,Trabalho,1576.94,2050.02,10.25,06:30:00,07:30:00,Receber,1.0,Jornada Estendida
268,2013-11-27,Nao,Eletricista,Trabalho,1576.94,2050.02,10.25,17:00:00,18:00:00,Receber,1.0,Jornada Estendida
...,...,...,...,...,...,...,...,...,...,...,...,...
3038,2020-12-10,Nao,COD,Trabalho,4677.18,6314.19,35.08,15:30:00,19:30:00,Receber,4.0,Jornada Estendida
3047,2020-12-18,Nao,COD,Trabalho,4677.18,6314.19,35.08,05:00:00,07:00:00,Receber,2.0,Jornada Estendida
3048,2020-12-18,Nao,COD,Trabalho,4677.18,6314.19,35.08,15:30:00,17:30:00,Receber,2.0,Jornada Estendida
3057,2020-12-26,Nao,COD,Trabalho,4677.18,6314.19,35.08,06:00:00,07:00:00,Receber,1.0,Jornada Estendida
3058,2020-12-26,Nao,COD,Trabalho,4677.18,6314.19,35.08,15:30:00,17:00:00,Receber,1.5,Jornada Estendida

In [110]:
filtro1=data_daily.qtd_HE>0
filtro2=data_daily.Escala_de_trabalho == 'Trabalho'

data_daily.Tipo_HE = data_daily.Tipo_HE.loc[filtro1 & filtro2].replace('','Jornada Estendida')